html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
ul {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  list-style: none;
}
li {
  box-sizing: border-box;
  padding: 12px;
}
a {
  padding-right: 4px;
  padding-left: 4px;
  text-decoration: none;
  color: black;
}
.active {
  color: #e2011b;
}
nav {
  overflow: hidden;
  height: 103px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 420px;
  justify-content: space-between;
}

.noMenu {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 520px;
}
.yesMenu {
  display: none;
  cursor: pointer;
}
.menuList {
  display: none;
  position: absolute;
  animation: rightToLeft 2s;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: 100vh;
  background-color: white;
  box-shadow: -10px 10px 10px 1px black;
}
.orgatecIcon {
  padding-right: 5px;
  border-right: 1px solid gray;
  margin-right: 5px;
}
.mediaPartner {
  padding-left: 5px;
}
.mainContainer {
  padding-left: 70px;
  padding-right: 70px;
}
.model {
  display: flex;
  flex-wrap: wrap;
}
.boxContainer {
  width: 220px;
}
.top {
  width: 190px;
  float: right;
  border: 2px solid #e2011b;
  border-bottom: 0px;
}
.mid {
  margin-left: 57px;
  font-size: 32px;
  font-weight: bold;
}
.bottom {
  padding-left: 10px;
  font-size: 32px;
  border: 2px solid #e2011b;
  border-top: 0px;
}
.clickDetail {
  height: 40px;
  width: 276px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  border: 2px solid #e2011b;
}
.defaultBox {
  height: fit-content;
  width: calc((100vw - 140px) / 2);
}
@media screen and (max-width: 970px) {
  .navLeft {
    flex-wrap: wrap;
    min-width: 210px;
    max-width: 210px;
  }
  .noMenu {
    display: none;
  }
  .yesMenu {
    display: inline;
  }
}
@keyframes rightToLeft {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
