html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
ul {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  list-style: none;
}
li {
  box-sizing: border-box;
  padding: 12px;
}
a {
  padding-right: 4px;
  padding-left: 4px;
  text-decoration: none;
  color: black;
}
.active {
  color: #e2011b;
}
nav {
  overflow: hidden;
  height: 103px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 420px;
  justify-content: space-between;
}

.noMenu {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 520px;
}
.yesMenu {
  display: none;
  cursor: pointer;
}
.menuList {
  display: none;
  position: absolute;
  animation: rightToLeft 2s;
  top: 0px;
  right: 0px;
  width: 40vw;
  height: 100vh;
  background-color: white;
  box-shadow: -10px 10px 10px 1px black;
}
.orgatecIcon {
  padding-right: 5px;
  border-right: 1px solid gray;
  margin-right: 5px;
}
.mediaPartner {
  padding-left: 5px;
}
.mainContainer {
  padding-left: 70px;
  padding-right: 70px;
}
.modelHeader {
  align-items: flex-end;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxContainer {
  width: 220px;
  margin-right: 50px;
}
.top {
  width: 190px;
  float: right;
  border: 2px solid #e2011b;
  border-bottom: 0px;
}
.mid {
  margin-left: 57px;
  font-size: 32px;
  font-weight: bold;
}
.bottom {
  padding-left: 10px;
  font-size: 32px;
  border: 2px solid #e2011b;
  border-top: 0px;
}
.clickDetail {
  height: 40px;
  width: 276px;
  display: flex;

  justify-content: center;
  align-items: center;
  border: 2px solid #e2011b;
}
/* .defaultBox {
  height: fit-content;
  width: calc((100vw - 142px) / 2);
} */
.modelOpt {
  width: calc(40vw + 4px);
  min-width: 300px;
  height: 210px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2011b;
  z-index: 99;
}
.leftTopBox {
  width: 290px;
  height: 80px;
  z-index: -99;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
}
.rightBottomBox {
  width: 66px;
  height: 4px;
  z-index: 100;
  position: absolute;
  bottom: 0px;
  right: 57px;
  background-color: white;
}
.modelOptWrapper {
  min-width: 296px;
  width: 40vw;
  height: 206px;
  background-color: white;
}
.modelBoxHeader {
  margin-left: 20px;
  margin-top: 14px;
}
.modelBodyContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
}
.modelBody {
  margin: 20px;
}
.modellingBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modelArrow {
  position: absolute;
  top: -10px;
  left: 20px;
}
.modelOptImg {
  width: calc(60vw - 170px);
  height: fit-content;
}
.prgrmLinks {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more9 {
  text-decoration: underline;
  cursor: pointer;
}
.dsLogo {
  padding-right: 5px;
  border-right: 1px solid gray;
  margin-right: 5px;
}
.solidLogo {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.ds3 {
  font-size: 18px;
  width: 80%;
}
.modelFooter {
  margin-top: 30px;
  width: 40%;
  display: flex;
  flex-direction: row;
}
.giftCard {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -30px;
}
.giftCardContainer {
  width: 200px;
}
.giftTop {
  border: 2px solid black;
  margin-left: 20px;
  border-bottom: 0px;
}
.giftMid {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  border-left: 2px solid black;
  padding-left: 10px;
  margin-bottom: 4px;
}
.giftBottom {
  border: 2px solid black;
  border-top: 0px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-top: -10px;
  padding-bottom: 2px;
}
.orgLogo {
  width: 30px;
  margin-top: 10px;
}
.cardEuro {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.euro {
  border-bottom: 1px solid gray;
}
.twoK {
  padding-left: 70px;
  font-size: 40px;
  color: #e2011b;
}
.argusLogo {
  float: right;
  width: 60px;
  padding: 20px;
  padding-bottom: 4px;
}
.modelFooterArrow {
  transform: rotateY(180deg) rotateZ(-25deg);
  width: 95px;
  height: 51px;
}

@media screen and (max-width: 970px) {
  .navLeft {
    flex-wrap: wrap;
    min-width: 210px;
    max-width: 210px;
  }
  .noMenu {
    display: none;
  }
  .yesMenu {
    display: inline;
  }
}
@keyframes rightToLeft {
  from {
    width: 0vw;
  }
  to {
    width: 40vw;
  }
}
