html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
a {
  padding-right: 4px;
  padding-left: 4px;
  text-decoration: none;
  color: black;
}
.active {
  color: #e2011b;
}
nav {
  overflow: hidden;
  padding-left: 70px;
  padding-right: 70px;
  height: 103px;
  padding-top: 30px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 420px;
  justify-content: space-between;
}

.navRight {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 520px;
}
.orgatecIcon {
  padding-right: 5px;
  border-right: 1px solid gray;
  margin-right: 5px;
}
.mediaPartner {
  padding-left: 5px;
}
@media screen and (max-width: 820px) {
  .navLeft {
    flex-wrap: wrap;
    min-width: 210px;
    max-width: 210px;
  }
}
